
.terms-and-conditions{
    position: relative;
    background-image: linear-gradient(to right, #ff7d1e, #fd40e5);
    width: 50vw;
    margin: 100px auto;
    padding: 50px;
    border-radius:16px;
    color: white;
    margin-bottom: 0;
    bottom: 70px;
    overflow-x:visible;
}
.accept-tandc {
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}
.accept-tandc p{
    margin-left: 20px;
}

.email-submit {
    height: auto;
    width: 500px;
    margin-top: 10px;
    display: flex;
}

#e1 {
    height: 35px;
    width: 400px;
    border-radius: 20px;
    padding-inline: 15px;
}

#submit {
    margin-left: 20px;
    height: 35px;
    width: 150px;
    border-radius: 20px;
    background-color: black;
    color: white;

}
