.wrapper {
    height: 200vh; 
}
.box {
    top:0;
    position: sticky;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.short-box {
    height: 600px;
    width: 1000px;
    background-color: #191919;
    transform: scale(0.5);
    z-index: 2;
    border-radius: 10px;
}
.inner-box{
    height: 100%;
    display: grid;
    grid-template-columns: .7fr repeat(2, 1fr);
  grid-template-rows: .5fr repeat(2, 1fr);
    grid-template-areas: 
    'sidebar nav nav nav'
    'sidebar graph graph graph'
    'sidebar graph graph graph'
    ;
}
.inner-sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
    font-size: 0.7rem;
    padding: 10px;
    color: #fff;
}
.inner-sidebar img{
    height:50px;
    width: 100px;
}
.inner-sidebar p{
    padding: 30px;
    font-size: 1rem;
    border-radius: 16px;
    background:linear-gradient(to right, #ff7d1e, #fd40e5);
}
.inner-nav{
    grid-area: nav ; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-nav nav{
    border-radius: 16px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source:linear-gradient(to right, #ff7d1e, #fd40e5);;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inner-nav p{
    padding:10px;
}
.inner-nav img{
    height: 30px;
    width: 30px;
}
.inner-graph{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: graph
}
.inner-graph .graph{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    height: 90%;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source:linear-gradient(to right, #ff7d1e, #fd40e5);;
    width: 90%;
}
@media (max-width:599px) {
    .wrapper{
        display:none        
    }
}
