.card-holder{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding: 100px;
}

.card-wrapper{
    transform: translateX(-150px);
    display: inline-block;
    width: 400px;
    padding-bottom: 50px;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    gap:10px;
}
.card-wrapper p{
 text-align: left;
 margin: 40px;
}
.card-wrapper img{
    height: 300px;
    width: 400px;
    border-radius: 16px;
}