.nav-bar{
    background-color: rgba(255, 255, 255,.6);
    filter: drop-shadow(10px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    top: 60px;
    position: sticky;
    z-index: 1;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 14px 20px rgba(0,0,0, .2), 0 0 0 1px rgba(0, 0, 0,.1);
}

nav .logo{
    width: 30px;
    border-radius: 50%;
    border:1px solid white;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
nav button{
    border-radius: 20px;
    padding:10px;
    background-image: linear-gradient(to right, #ff7d1e, #fd40e5);
    color:white;
    border: none;
}

