*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.App{
    margin-top: 75px;
    box-shadow: inset 0 -300px black; 
}
nav{
    background-color: rgba(255, 255, 255,.6);
    filter: drop-shadow(10px);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    top: 60px;
    position: sticky;
    z-index: 10000;
    display: flex;
    width:30vw;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 14px 20px rgba(0,0,0, .2), 0 0 0 1px rgba(0, 0, 0,.1);
}

nav .logo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:1px solid white;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
nav button{
    height:40px;
    border-radius: 16px;
    padding:10px;
    background-image: linear-gradient(to right, #ff7d1e, #fd40e5);
    color:white;
    border: none;
}
.company-name{
    width:100px;
}
section{
    height: 100vh;
}

.hero-page{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;

}
.hero-text{
    top:100px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows : repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.first-line, .third-line{
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(131deg, #ff7d1e 36%, #fd40e5);
    -webkit-background-clip: text;
    font-size: 5rem;
}
.spath {
    stroke-dasharray: var(--length);
    stroke-dashoffset: var(--length);
    animation: example 2s linear 0s infinite;
    stroke:url(#gradient)
}
.tpath {
    stroke-dasharray: var(--length);
    stroke-dashoffset: var(--length);
    animation: example 2s linear 0.1s infinite;
}
/* The animation code */
@keyframes example {
    from {
        stroke-dashoffset: var(--length);
    }
    to {
        stroke-dashoffset: 0;
    }
}
.wrapper {
    height: 200vh;  
}
.box {
    top:0;
    position: sticky;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.short-box {
    height: 50%;
    width: 40%;
    background-color: #191919;
    transform: scale(0.5);
    z-index: 2;
    border-radius: 10px;
}
.inner-box{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    'sidebar nav nav nav'
    'sidebar graph graph graph'
    'sidebar graph graph graph'
    'sidebar graph graph graph'
    ;
}
.inner-sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.7rem;
    padding: 10px;
    color: #fff;
}
.inner-sidebar img{
    height:50px;
    width: 100px;
}
.inner-nav{
    grid-area: nav ; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.inner-nav p{
    padding:10px;
}
.inner-nav img{
    height: 30px;
    width: 30px;
}
.inner-graph{
    grid-area: graph
}


.services{
    height:100%;
    background-color: black;
    width:60vw;
    margin:0 auto;
    overflow: hidden;
    border-radius: 1rem;
}

.card-holder{
    display: flex;
    justify-content: space-around;
    width: 80vw;
    padding: 100px;
}

.card-wrapper{
    transform: translateX(-150px);
    display: inline-block;
    height:400px;
    width: 300px;
    background-color: white;
    border-radius: 1rem;
}
.card-wrapper img{
    height: 100px;
    width: 200px;
}
.services-text{
    display: flex;
    color: white;
}
.terms-and-conditions{
    position: relative;
    background-image: linear-gradient(to right, #ff7d1e, #fd40e5);
    width: 50vw;
    margin: 300px auto;
    padding: 100px;
    border-radius:16px;
    color: white;
    margin-bottom: 0;
    bottom: 70px;
}