@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    display:block;
    justify-content: center;
}
.nav-bg-holder{
    z-index: 101;
    height:100px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    /* position: -webkit-sticky; */
    position: sticky;
    top: 75px;
}
.nav-bar{
    backdrop-filter: blur(10px);
    position:absolute;
    opacity: 2;
    border-radius: 100px;
    top: 20px;
    align-items: center;
    display: flex;
    box-sizing: content-box;
    box-shadow: 0 14px 20px rgba(0,0,0, .2), 0 0 0 1px rgba(0, 0, 0,.1);
}

*{
    box-sizing: border-box;
}
div{
    display: flex;
}
.Company{
    padding-left: 5px;
    padding-right: 100px;
    font-size: xx-large;
    font-weight: 500;
    font-family: sans-serif;

}
.logo{
    box-sizing: content-box;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    margin-left: 10px;
    color: red;
    background-color: #ff7d1e;
}
.text-starting{
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 180px;
    width: 80vw;
    display: flex;
    height: auto;
    font-size: xx-large;
    /* background-color: #ff7d1e; */
    overflow: hidden;
    justify-content: center;
}


.text-gradient{
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(131deg, #ff7d1e 36%, #fd40e5);
    -webkit-background-clip: text;
}

.contactbutton {
    color: #fff;
    text-align: center;
    letter-spacing: 0;
    background-color: #ff7d1e;
    background-image: linear-gradient(to right, #ff7d1e, #fd40e5);
    border-radius: 40px;
    margin-bottom: 0;
    margin-right: 0;
    padding: 13px 20px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 350;
    text-decoration: none;
    transition: letter-spacing .3s, color .3s;
}

#together{
    font-family: sans-serif;
    font-size: 200%;
    font-weight: 500;
}
#p1{
    left:200px;
}
#money{
    font-family: sans-serif;
    font-size: 200%;
    font-weight: 500;
}
.bp{
    background-color: #fd40e5;
    position:absolute;
    top: 300px ;
    left: 175px;
    display: flex;
    height: 800px;
    width: 1200px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    transform: scale(0.5);  
    border-radius: 10px;
}




/*animation keyframes below */



